{% extends "layout.html" %}
{% load bootstrap3 %}


{% block title %}

<title>Reset password</title>

{% endblock %}

{% block body_content %}

<div class="container">

    <h1>Password confirmed</h1>

    <p>Your password has just been resetted. Click <a href="{% url 'login' %}">here</a> to log in with your new password</p>

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

</div>

{% endblock %}