
{% extends "layout.html" %}


{% block title %}

<title>{{ profile.username }}</title>

{% endblock %}

{% block body_content %}

<div class="container" style="margin-top:40px;">

    <div class="row">

        <div class="col-md-8">

            <h1>Profile</h1>

            <br/>

            <table class="table">

                <tbody>

                <tr>

                    <td>Username</td>
                    <td>{{ profile.username }}</td>

                </tr>

                <tr>

                    <td>Email</td>
                    <td>{{ profile.email }}</td>

                </tr>

                <tr>

                    <td>Creation date profile</td>
                    <td>{{ profile.date_joined }}</td>

                </tr>

                <tr>

                    <td>Bio</td>
                    <td>{{ profile.bio }}</td>

                </tr>

                <tr>

                    <td>Date of birth</td>
                    <td>{{ profile.date_of_birth }}</td>

                </tr>

                <tr>

                    <td>Favorite position</td>
                    <td>{{ profile.get_position_display }}</td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

    <div class="row col-md-12">

		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

	</div>

</div>

{% endblock %}

